<%= stylesheet_link_tag "application" %>

<h1>Bienvenidos al sistema de Historias Medicas</h1>

<h4>Menú de opciones</h4>

<p>A continuacion se le presenta un menú de opciones para el medico, elija una.</p>

<p>
    <%= link_to 'Pacientes', patients_path %>
</p>

<p>
    <%= link_to 'Diagnósticos', diagnoses_path %>
</p>

<p>
    <%= link_to 'Doctores', doctors_path %>
</p>